[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-login = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
flask-mail = "*"
flask-moment = "*"
flask-restful = "*"
flask-cors = "*"
flask-migrate = "*"
pytz = "*"
flask-httpauth = "*"
itsdangerous = "*"
requests = "*"
ipython = "==7.16.3"
